services:
  - type: web
    name: server
    env: docker
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    plan: free
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      # Define secret keys; set their values in the Render dashboard
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false

